.logoName{
  padding-top: 2px;
  text-decoration: none;
  color: white;
  text-align: center;
  vertical-align: middle;
}

img {
  padding-top: 12px;
  padding-left: 50px;
  width: 46px;
  height: 46px;
}

.topBar {
  width: 100%;
  height: 70px;
}

.topBarItems {
  margin-top: 17.5px;
  width: 700px;
  height: 70px;
  margin-left: 50px;
}

.topBarItems:first-child {
  border-left: 0;
}

.topBarItems a{
  margin-right: 5px;
}
