.footer {
  position: relative;
  background-color: #f0f2f4;
  border-radius: 10px;
}

.footer h3 a{
  display: flex;
  padding-left: 15px;
  padding-top: 5px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer p{
  padding-left: 15px;
  padding-bottom: 5px;
}
