<div class="newsTable">

  <!--  <p>{{timePeriodService.typeOfTimePeriod|async}}</p>-->

  <table mat-table [dataSource]="allNews" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Позиция</th>
      <td mat-cell *matCellDef="let element; let i=index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="delta">
      <th mat-header-cell *matHeaderCellDef> Изменение позиции</th>
      <td mat-cell *matCellDef="let element"> {{element.delta}} </td>
    </ng-container>

    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef> Логотип</th>
      <td mat-cell *matCellDef="let element"><img [src]="element.logo"></td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Заголовок</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="countOfViews">
      <th mat-header-cell *matHeaderCellDef> Количество просмотров</th>
      <td mat-cell *matCellDef="let element"> {{element.countOfViewers}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!--<mat-paginator #paginator-->
<!--               [length]="100"-->
<!--               [pageIndex]="0"-->
<!--               [pageSize]="10"-->
<!--               [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--               (page)="pageEvent = getServerData($event)">-->
<!--</mat-paginator>-->

<!--<mat-icon>expand_less</mat-icon>-->
<!--expand_more expand more icon	<mat-icon>expand_more</mat-icon>-->
